# データベースとの接続

In [1]:
#マジックコマンドsqlを使えるようにする
%load_ext sql

マジックコマンドとはpython以外のコマンドがセル上で書けるようになる方法 <br>
今回は, 上記を実行するとsqlのコマンドが使えるようになる。 <br>
マジックコマンドについてもっと詳しくは[こちら](https://chayarokurokuro.hatenablog.com/entry/2019/09/17/215100#magic-command%E3%81%A8%E3%81%AF) <br><br>
ここで, powershellにて, <br>
 C:\env\app\postgresql\bin\pg_ctl start -D .\postgres\ <br>
 と入力してサーバーを立ち上げる。
そして, <br>
%sql postgresql://(ユーザー名):(パスワード)@localhost/test <br>
でデータベースに接続する。

In [6]:
%sql postgresql://Owner:0359@localhost/test

ちなみに, @localhostをURLに変更するとリモートサーバへの接続も可能らしい。

In [7]:
%sql select * from users;

 * postgresql://Owner:***@localhost/test
2 rows affected.

[(1, 'Yoshizaki', 27), (2, 'Kikagaku', 2)]

In [11]:
#上のようにして取得した内容は一時的に_に保存されている。
result = _
_

[(1, 'Yoshizaki', 27), (2, 'Kikagaku', 2)]

In [13]:
print(result.keys)
type(result)

RMKeyView(['id', 'name', 'age'])

sql.run.ResultSet

In [14]:
import pandas as pd
df = pd.DataFrame(result, columns=result.keys)
df

   id       name  age
0   1  Yoshizaki   27
1   2   Kikagaku    2

# SQLAlchemy

## データベースへの接続

ORマッパーなるSQLの操作を簡単にしてくれるツールを利用する。

In [15]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\owner\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\owner\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)

In [17]:
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

SQLAlchemyでは, データベースへの接続にengineというオブジェクトを利用する。  
create_engineはengineオブジェクトを生成するライブラリ。  

## モデルの定義  
Pythonでは, データベースのことをよく**モデル**と呼ぶ。
<u>データベースのテーブルをオブジェクトとして扱う</u>ために, 先にモデルの型を作成しておく。

In [23]:
#接続先のURLを生成
url = URL(
    drivername = 'postgresql',
    username = 'Owner',
    password = '0359',
    host = 'localhost',
    database = 'test'
    )


url, type(url)

<ipython-input-23-cb5d4e67fbc7>:1: SADeprecationWarning: Calling URL() directly is deprecated and will be disabled in a future release.  The public constructor for URL is now the URL.create() method.
  url = URL(

(postgresql://Owner:***@localhost/test, sqlalchemy.engine.url.URL)

In [26]:
engine = create_engine(url)
engine, type(engine)

(Engine(postgresql://Owner:***@localhost/test), sqlalchemy.engine.base.Engine)

In [27]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    age = Column(Integer)

Base = declarative_base()で, Baseクラスを生成。  
その後, Baseクラスを継承してUserクラスを作る。  
Userクラスには, 今回扱いたいtableの情報を与える。

## データの取得

In [29]:
from sqlalchemy.orm import sessionmaker

#engineはURLをオブジェクト化したものでしたね。
session = sessionmaker(bind=engine)()

セッションの作成。  
ここでいうセッションとは, jupyter labとデータベースとの間にかけられる橋だと思っておくとよい気がする(概念的ねー)。

In [34]:
#データの取得
users = session.query(User).all()

#usersの0行目をuserに格納
user = users[0]

#こんな風にカラムを指定すれば表示できますよ。
user.name, user.age

('Yoshizaki', 27)

In [35]:
#新しいユーザーの定義
new_user = User(name='NewUser', age=30)

#データベースへの追加
session.add(new_user)
#コミットまでしないとデータベースへ反映されないらしい
session.commit()

In [36]:
#再度取得して確認
users = session.query(User).all()
len(users)

3

In [37]:
users[2].name, users[2].age

('NewUser', 30)

In [38]:
#最後に全ユーザーを確認
for user in users:
    print(user.id, user.name, user.age)

1 Yoshizaki 27
2 Kikagaku 2
3 NewUser 30

In [39]:
#セッション終了
session.close()